.full-orderlist-area{
 
}
.inner-full-orderlist-area{
    border: 0px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px grey;
    padding: 20px;
    margin-top: 30px;
    background: #FFFFFF;
    height: 400px;
}
.orderProductPrice{
    color: #007ACC;
}