.full-slider-area{
    padding: 50px 0px;
}
.full-slider-area h2{
    padding: 20px 0px;
    color: #007ACC;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}